/* find.css */
.alert.alert-danger {
 
  position: relative;
  top:  20px;
left :50px;  width: 400px;
height:60px;
margin-bottom:30px;
}
.menu{
    display: flex;
    
  position: relative;
  bottom: 64px;
 
}
p{
    font-size: 25px;
    font-weight: 25px;
    color: red;
    font-family: "Permanent Marker";
    margin-left: 1200px;
    position: relative;
    
   
}
.sub{
  position: relative;
  bottom: 10px;
}
label{
  font-family: "Press Start 2P";
  margin-left: 150px;
  position: relative;
  top:10px;
}
.change {
    margin-left: 30px;
    max-width: 500px; /* Optional, set a maximum width for the container to control its size */
    margin: 0 auto;
    height :137px;
    background: #fff4;
    border-radius: .2rem;
    position: relative;
    top: 150px;
}
input{
  margin-top: 20px;
  position: relative;
}
.alert.alert-success {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}
li{
  display: inline;
  padding: 20px;
  font-family: "Permanent Marker";
  padding: 10px 16px;
   border: 20px;
   border-radius: 5px;
}
body{
background: url("html_table.jpg");
}